@import "../assets/variables";

/* photography */
.photography {
    img { object-fit: cover; height: 400px; }
    .slider-control-centerright { right: 10px !important; }
    .slider-control-centerleft { left: 20px !important; }
    .slider-control-bottomcenter { display: none; }
}

@media screen and ( min-width: $breakpoint ) {
    .photography {
        img { height: 800px; object-fit: initial; }
        .slider-control-centerright { right: 20px !important; }
        .slider-control-centerleft { left: 10px !important; }
    }
}