@import "../assets/variables";

/* HEADER */
header {
    .logo { 
        display: flex; align-items: center; 
        .logo-lbl { 
            font-size: 20px;
            .by { font-size: 14px; }
         }
    }
    .anchor-link.active { border-bottom: 2px solid $white!important; padding: 11px 16px 9px !important; }
    .list-item  { 
        margin: 0; padding: 0!important; text-align: center;
        > span { color: $white; margin: 0; padding: 0 !important; text-align: center; }
    }
    .nav { display: none; }
}
.nav-burger { min-width: 320px; }

@media screen and ( min-width: $breakpoint ) {
    header {
        .nav { display: flex; direction: row; padding: 0; }
    }
}