@import "../assets/variables";

/* CV */
.cv { 
    .paper { padding: 15px; }
    .container-cv { 
        padding: 0 25px; box-sizing: border-box; margin: 0 0 25px;
        h4 { text-align: left; margin: 0 0 25px; }
        .edito { font-size: 20px; line-height: 1.5; margin: 0 0 25px; }

     }
    .header {
        margin: 0 0 25px;
        .contact { 
            background: $grey-222; color: $white; padding: 25px; box-sizing: border-box;
            h4 { margin: 0 0 10px; text-align: left; }
            .link { 
                color: $white; text-decoration: none;
                &:hover { text-decoration: underline; }
             }
         }
        .banner { display: none; }
    }
    .buttons { 
        justify-content: center; display: flex; margin: 0 0 25px; flex-wrap: wrap;
        .btn { 
            margin: 0 10px 10px;
            svg { margin: 0 8px 0 0; }
         }
     }
 }

 @media screen and ( min-width: 350px ) {
     .cv {
        .header {
            .banner { display: block; background: url(./../assets/imgs/bg-contact.jpg) 0 -100px; background-size: cover;  }
        }
     }
}