@import "../assets/variables";

/* HOME */
.home {
  .paralax { 
    height: 100%; position: relative; width: 100%; height: 600px; overflow: hidden; z-index: 1;
    .paralaxImg { position: absolute; height: 100%; object-fit: cover; }
    .brand { z-index: 2; color: $black; width: 600px; text-align: center; padding: 25px; box-sizing: border-box; position: absolute; top: 48vh; left: 50%; transform: translate(-50%, -50%); }
    .slider-control-centerright { right: 20px !important; }
    .slider-control-centerleft { left: 20px !important; }
    .slider-control-bottomcenter { display: none; }
  }
}

