@import "../assets/variables";

/* SKILL */
.skill {
    .star { margin-right: 0 !important; }
    .list-lbl { padding: 0 !important; flex: inherit !important; margin-right: 15px !important;} 
    .list-lbl {
        > span { font-size: 20px !important; }
    }
}
