@import "../assets/variables";

/* portefolio */
.portefolio { 
    h4 { margin: 25px 0 10px; }
    .paper {  
        margin: 10px; padding: 20px; cursor: pointer;
        img { height: 170px; object-fit: cover; object-position: top; }
     }
 }

 .dialog {
    .btn-close { position: absolute; right: 18px; top: 18px; }
    .description { padding: 0 50px; box-sizing: border-box; display: block; text-align: center; }
    .link { color: $black; }
    .dialog-action { display: flex; justify-content: center; padding: 0 0 20px; }
    .btn-action[href="  "] { display: none !important; }
 }
 
 @media (max-width: 992px) { .Tilt { transform: translate3d(0,0,0) !important; } }