@import "/variables.scss";

/* utils */
body { margin : 0; font-family: 'Roboto', sans-serif; }
.hidden { display: none; }
/* typo */
h2 { font-family: 'Permanent Marker', cursive; font-size: 45px; line-height: 0.7; }
h3 { font-size: 35px; margin: 100px 0 50px 0; font-family: 'Permanent Marker', cursive; text-align: center; }
h4 { font-size: 25px; text-align: center; margin: 0 0 10px; }
h5 { font-size: 22px; margin: 0 0 10px; }
/* layout */
.main-container { max-width: $mainWidth; margin: 0 auto; padding: 10px; box-sizing: border-box; }


@media screen and ( min-width: $breakpoint ) {
    h2 { font-size: 90px; }
    h3 { font-size: 70px; }
    h4 { font-size: 25px; }
    h5 { font-size: 22px; }
}
